<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/recet-styles.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include('sections/header', {title: 'User form'})%>
      <main class="page">
        <div class="image">
          <img src="images/DIY-Holiday-Lights-Blog-Images_Hero.webp" />
        </div>
        <div>
          <h1 class="title">Welcome to our website!</h1>
        </div>
      </main>

      <%-include('sections/footer', {title: 'footer'})%>
    </div>
  </body>
</html>
