.about-section {
  border-radius: 10px;
  padding: 20px;

  max-width: 800px;
  margin: 0 auto;
}

h2 {
  color: #434242;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 48px;
  text-align: center;
}

p {
  color: #555;
  line-height: 1.8;
  margin-bottom: 20px;
}

.hero-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
}

.features-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.1em;
}

.features-list li {
  margin: 10px 0;
  color: #2c3e50;
}
