<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product info</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/recet-styles.css" />
  </head>
  <body>
    <section class="container">
      <div class="product-page">
        <div class="product-details">
          <h1 class="product-title">Title: <%= product.title %></h1>
          <p class="product-brand">Brand: <%= product.brand %></p>
          <p class="product-price">
            Price: $ <%= product.price %>
          </p>
          <p class="product-description">
            Description: <%= product.description %>
          </p>
        </div>
      </div>

      <div>
        <a href="/products" class="back-link">Back to Products List</a>
      </div>
    </section>
  </body>
</html>
